body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  max-height: 60vh;
}

.container {
  position: fixed; /* Makes the container fixed on the screen */
  top: 40%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Adjusts to ensure perfect centering */
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #444;
}

.rand {
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #218838;
}

#progressContainer {
  margin-top: 20px;
}

.progress-container {
  width: 100%;
  text-align: center;
}

.progress-bar {
  width: 0;
  height: 20px;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

#progressText {
  font-size: 1.2rem;
  margin-top: 10px;
}
/* Progress bar styling */
#progressWrapper {
  margin-top: 20px;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

#progressPercent {
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
}
#logScreen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  border-top: 2px solid #1ff802;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 100px; /* Fixed height */
  overflow-y: auto;
  z-index: 1000;
}
.log-message {
  font-size: small;
  margin: 0;
  padding: 5px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.info {
  color: rgb(0, 0, 255);
}
.complete {
  color: rgb(251, 255, 0);
}

.progress-bar {
  width: 100%;
  margin-top: 10px;
}